---
title: Red Hat Community Brand Guide
page_classes: brand-guide
stylesheet: brandguide
---

:ruby
  pages = <<-END
          # Beginning block
          intro
          toc
          common

          # Projects
          fedora
          rdo
          ovirt
          centos
          gluster
          ceph
          atomic
          feedhenry

          social

          # Basic template that can be copied as a starter
          # template
          END

  # # # # # # # # # # # # # # # # # # # #

  def fix_heading_ids(doc, part)
    doc.gsub(/^(###+) (.*)$/) do
      level = Regexp.last_match[1]
      title = Regexp.last_match[2]

      id = " {##{part.downcase}--#{title.parameterize}}"
      id = '' if part.downcase == title.parameterize

      "#{level} #{title}#{id}"
    end
  end

  out = pages.strip.split(/\s*\n+\s*/).map do |part|
    next if part.start_with?('#') # Add simple comment support

    doc = File.read("#{root}/#{source}/brandguide/_#{part}.md")
    fix_heading_ids(doc, part)
  end.compact.join "\n\n---\n\n"

-# 'eval' is needed to run the function to output color tables
= markdown_to_html eval('"' + out + '"')
