---
layout: false
---

:ruby
  require 'open-uri/cached'
  doc = Nokogiri::HTML(open('/home/garrett/Source/confcal/output/all.xhtml'), nil, 'UTF-8')

  require 'reverse_markdown'
  require 'chronic'
  #require 'geocoder'

  def isotime_with_zone time_string, time_zone = "UTC"
    old_zone = Time.zone rescue "UTC"
    Time.zone = tz_lookup time_zone rescue "UTC"
    Chronic.time_class = Time.zone

    result = (Date.parse time_string rescue Chronic::parse time_string).iso8601

    Time.zone = old_zone

    result
  end

  # Local helper to look up timezones
  def tz_lookup time_zone
    return @tzc[time_zone] || time_zone if defined? @tzc

    ## Build timezone abbriviation dictionary
    @tzc ||= {}

    # Prioritize US & Indian timezones
    (ActiveSupport::TimeZone.us_zones + [ActiveSupport::TimeZone.new('Asia/Kolkata')] + ActiveSupport::TimeZone.all).each do | zone|
      daylight_abbr = zone.parse('Aug 1').strftime('%Z')
      standard_abbr = zone.parse('Dec 1').strftime('%Z')

      # It's important to give priority to "standard" time,
      # as there are some clashes
      # (Sadly, that's just the way it is)
      @tzc[standard_abbr] = zone.name unless @tzc[standard_abbr]
      @tzc[daylight_abbr] = zone.name unless @tzc[daylight_abbr]
    end

    @tzc[time_zone] || time_zone
  end

  geocache = {}

  #extend Geocoder::Model::ActiveRecord
  #Geocoder.configure(cache: geocache)

  def markdownize snippet, indent_num = 4, line_width = 72
    snippet.css('.hidden').remove

    word_wrap(ReverseMarkdown.parse_string(snippet.to_html).strip, line_width)
  end

  def parse_time snippet, event_tz = 'UTC', only_date = false
    current_timezone = Time.zone
    Time.zone = tz_lookup event_tz rescue 'UTC'
    Chronic.time_class = Time.zone

    snippet_time = Chronic::parse snippet.to_html[/title="([^"]*)/, 1], :ambiguous_time_range => :none

    Time.zone = current_timezone

    snippet_time
  end

  def display_time snippet_time, event_tz = 'UTC', only_date
    if snippet_time
      time_string = '%Y-%m-%d'

      time_string << ' %H:%M %Z' unless only_date
      #time_string << '%Z'

      old_zone = Time.zone rescue "UTC"
      Time.zone = tz_lookup time_zone rescue "UTC"
      Chronic.time_class = Time.zone

      result = snippet_time.strftime(time_string)

      Time.zone = old_zone

      result
    end
  end

  def parse_and_display_time snippet, event_tz = 'UTC', only_date = false
    display_time(parse_time(snippet, event_tz), only_date)
  end

  output = {}

- doc.css('.conference').each do |conf|

  -#%pre= (Geocoder.search conf.css('.conference-info .location').text).inspect
  -# geo = Geocoder.search conf.css('.conference-info .location').text

  -# geo.each do |place|
    =# place.address
    %h4= place.address
    %h4= place.coordinates

    - if defined? place.formatted_address #&& place.types.include? "point_of_interest"
      %pre
        = place.formatted_address
    - else
      =# place#.long_name
    %pre= place.types if defined? place.types
    %pre= place.inspect

  :ruby
    conf_start_time = parse_time(conf.css('.conference-info .dtstart'))

    local_timezone = conf.css('.talk .time').text[/[a-zA-Z\+\-0-9]*$/]

    this_conf = {
      "name" => conf.css('h2.summary').text,
      #"shortname" => conf.css('h2.summary').text.gsub(/[ \.:-]/, '_').camelize.classify,
      "location" => conf.css('.conference-info .location').text,
      "start" => parse_and_display_time(conf.css('.conference-info .dtstart'), local_timezone, true),
      "end" => parse_and_display_time(conf.css('.conference-info .dtend'), local_timezone, true),
    }

    # Make end time optional
    this_conf.delete 'end' if this_conf['start'] == this_conf['end']

    description = markdownize(conf.css('.conference-info .description'))
    this_conf['description'] = description unless description.empty?

    conf.css('.talk').each do |talk|
      this_conf['timezone'] ||= tz_lookup talk.css('.time').text[/[a-zA-Z\+\-0-9]*$/]

      this_talk = {
        "title" => talk.css('.summary').text,
        "speaker" => talk.css('.speaker').text,
        "start" => parse_and_display_time(talk.css('.dtstart'), local_timezone),
        "end" => parse_and_display_time(talk.css('.dtend'), local_timezone),
        "description" => markdownize(talk.css('.description'))
      }
      this_conf['talks'] ||= []
      this_conf['talks'].push this_talk
    end

    if defined? conf_start_time.year
      output[conf_start_time.year] ||= []
      output[conf_start_time.year].push this_conf
    else
      output['unknown'] ||= []
      output['unknown'].push this_conf
    end

- output.each do |year_label, year|
  %hr
  %h2= year_label
  - year.each do |conf|
    :ruby
      path = "#{root}/data/events/#{year_label}/";

      # Uncomment the next line to actually create dirs
      #FileUtils.mkdir_p(path) unless File.exists?(path)

      #file_name = conf['name'].gsub(/[ \.:-]/, '_').camelize.classify + '.yml'
      file_name = conf['name'].gsub(/[\.]/, '') + '.yml'

    %hr
    -#%h3= conf['name'].gsub(/[ \.:-]/, '_').camelize.classify if defined? conf['name']

    - conf_yaml = conf.to_yaml.gsub(/^(\s*- [\s\w]+:)/, "\r\\1").gsub(/(    )\-/, "\\1\*").gsub(/\: \|\-/, ': |').gsub(/'([0-9\-]*)'/, '\1').gsub(/^---$/, '').strip
    %pre= conf_yaml

    :ruby
      yaml_file = "#{path}/#{file_name}"

      existing_doc = File.exists?(yaml_file) && IO.read(yaml_file)

      if existing_doc and conf_yaml.strip != existing_doc.strip
        #puts conf['name']
        if conf['location']
          yaml_file = yaml_file.gsub(/\.yml/, '') + "-" + conf['location'].split(',').first.gsub(/[ \.:-]/, '_').camelize.classify + "-" + conf['start'] + ".yml"
        end
        #if defined? conf.location and conf.location
          #yaml_file += "-" + conf.location.split(',').first.parameterize
          #puts conf.location
          #puts conf.location.split(',').parameterize
        #elsif defined? conf.start and conf.start
          #yaml_file += "-" + conf.start
        #else
          #iter++
          #yaml_file += "-#{iter}"
        #end
      end

      #puts yaml_file

      # Uncomment next line to actually write data
      #open(yaml_file, "w").write(conf_yaml)

-#%pre=output.to_yaml.gsub /^(\s*- [\s\w]+:)/, "\r\\1"
