---
pageable: true
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

- if defined? page_number && page_number < 2

  .mission
    .mission-text
      :markdown

        Red Hat's mission: To be the catalyst in communities of
        customers, contributors, and partners creating better technology
        **the open source way**.



.row

  %section.blog-posts.col-sm-8

    %h2 Red Hat Community News

    = partial :blog_posts, locals: locals


  %section.sidebar.col-sm-4

    %section.upcoming-events

      %h2 Upcoming

      %dl.upcoming-list
        - max_events = 10
        - event_count = 0


        - current_events.sort_by {|k, v| k}.each do |year_label, year|
          - year.each do |conf_label, conf|
            - if conf.type && conf.type == 'series'
              - if conf.talks
                - conf.talks.each do |talk|
                  - unless event_count > max_events || Date.parse(talk.start) < Time.now.to_date
                    - event_count += 1

                    %dd.upcoming-date
                      %span.day= Date.parse(talk.start).strftime('%-d')
                      %span.month= Date.parse(talk.start).strftime('%b')
                    %dt.upcoming-event
                      %a{:href => "/events/##{conf_label.parameterize}--#{talk.title.parameterize}"}
                        = talk.title

            - elsif conf.start
              - event_count += 1

              - unless event_count > max_events
                %dd.upcoming-date
                  %span.day= conf.start.strftime('%-d')
                  %span.month= conf.start.strftime('%b')
                %dt.upcoming-event
                  %a{:href => "/events/##{conf_label.parameterize}"}
                    = conf.name

        .more=link_to "View all current events&hellip;", "/events/"


    %section.participation

      :markdown
        ## Participation

        Red Hat helps make the software you trust.

        * Linux
        * Fedora
        * Apache
        * GNOME
        * OpenStack
        * LibreOffice

        [See more contributions&hellip;](software/)

    %section.brandguide

      :markdown
        ## Brand Guide
        [Tools and guidelines](/brandguide) for OSAS-project branding.

    %section.commactivity

      :markdown
        ## Community Activity
        Metrics that show the current [vital signs](dashboard/) of OSAS projects.


    %section.followus

      :markdown
        ## Follow Us

        * [Twitter](https://twitter.com/redhatopen)
        * [Google+](https://plus.google.com/113258037797946990391){:rel="publisher"}
        * [Facebook](https://facebook.com/redhatopen)
