---
pageable: true
---

- if defined? page_number && page_number < 2

  .mission
    .mission-text
      :markdown

        Red Hat's mission: To be the catalyst in communities of
        customers, contributors, and partners creating better technology
        **the open source way**.



.row
  .blog-posts.col-sm-8

    %section.container

      %h2 Red Hat Community News

      = partial :blog_posts, locals: locals

  .upcoming-events.col-sm-4

    %h2 Upcoming Events

    %dl.upcoming-list
      - current_events.each do |year_name, year|
        - year.each do |conf_slug, conf|

          - if conf.start
            %dd.upcoming-date
              %span.day= conf.start.strftime('%-d')
              %span.month= conf.start.strftime('%b')
            %dt.upcoming-conf
              %a{:href => "/events/##{conf_slug.parameterize}"}
                = conf.name

    .more=link_to "View all upcoming events&hellip;", "/events/"
